*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;


}
.main{
       height: 100vh;
       width: 100%;
       background-image: linear-gradient(to top,rgba(0,4,36,.03),#000),url(img/and-machines-vqTWfa4DjEk-unsplash.jpg);
}
